body {
  background-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*///////////Header/////////// */
header {
  background-color: white;
  height: 75px;
  text-align: left;
  border-bottom: rgb(102, 102, 102) solid 1px;
  position: fixed;
  width: 100vw;
  z-index: 99;
}

header img {
  height: 50px;
  padding-left: 5px;
  vertical-align: middle;
  margin-top: 12.5px;
}

/*/////////// Botón de navegación/////////// */
.nav-but {
  top: 12.5px;
  right: 12.5px;
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 100;
}

button {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
button img {
  position: relative;
  height: 100%;
  width: 100%;
}

button:hover {
  border: black solid 1px;
}

/*/////////// hero/////////// */

#hero {
  width: 100vw;
  height: 80vh;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("./Imgs/Hero.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.hero-text {
  width: 75vw;
  border: rgb(0, 144, 180) solid 1px;
  color: white;
  text-align: center;
  position: relative;
  margin: 0 auto;
  border-radius: 0 15px 15px 15px;
  z-index: 1;
  top: 200px;
}

.bienvenido-text {
  background: linear-gradient(
    to left,
    rgba(0, 50, 120, 1),
    rgba(0, 50, 130, 1)
  );
  color: white;
  text-align: center;
  position: relative;
  top: 200px;
  margin: 0 auto;
  margin-left: 13vw;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  z-index: 1;
}

.bienvenido-text h2 {
  padding: 10px;
}

.hero-text h1 {
  padding: 20px;
}

/* ///////////Novedades/////////////// */

.nov-sep-top {
  height: 5vh;
  width: 100vw;
}
.nov-sep-bottom {
  height: 2vh;
  width: 100vw;
}

.novedades {
  background-color: white;
  border-top: rgb(100, 100, 100) solid 1px;
  border-bottom: rgb(100, 100, 100) solid 1px;
}

.novedades h2 {
  padding: 3vh;
  font-size: 2rem;
}

/*/////// Novedades contenido /////////////*/
#novedades {
  background-color: rgb(0, 144, 180);
  height: 60vh;
  position: relative;
}

/*/////// Caja contenido 1 ///////////*/

.contenido {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 3vh;
  border: rgb(0, 0, 0) solid 1px;
  width: 100vw;
  margin: 0 auto;
  border-bottom: black solid 1px;
}
.contenido h4 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.contenido p {
  color: rgb(212, 212, 212);
}

.contenido a {
  text-decoration: none;
  color: white;
}

#nov1-text {
  display: none;
}

/*/////// Caja contenido 2 ///////////*/

.contenido2 {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 3vh;
  border: rgb(0, 0, 0) solid 1px;
  width: 100vw;
  margin: 0 auto;
  border-bottom: black solid 1px;
}
.contenido2 h4 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.contenido2 p {
  color: rgb(212, 212, 212);
}

.contenido2 a {
  color: white;
  text-decoration: none;
}

#nov2-text {
  display: none;
}

/*/////// Caja contenido 3 ///////////*/

.contenido3 {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 3vh;
  border: rgb(0, 0, 0) solid 1px;
  width: 100vw;
  margin: 0 auto;
  border-bottom: black solid 1px;
}
.contenido3 h4 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.contenido3 p {
  color: rgb(212, 212, 212);
}

.contenido3 a {
  color: white;
  text-decoration: none;
}

#nov3-text {
  display: none;
}

/*/////////// Menu emergente/////////// */

#menu {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0, 0.5)),
    url("./Imgs/books.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(78, 78, 78);
  display: none;
  position: fixed;
  top: 75px;
  z-index: 9;
  transition: all 2s ease-out;
}

#menu ul {
  text-align: center;
}

#menu ul li {
  list-style-type: none;
  border: black solid 1px;
  background-color: rgb(0, 95, 220);
  margin-left: 20vw;
  margin-right: 20vw;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
  margin-top: 50px;
}

#menu ul li a {
  text-decoration: none;
  color: white;
}

#menu ul li:hover {
  background-color: rgb(0, 150, 220);
}
