body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*////////////// Scrollbar //////*/

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(250, 250, 250, 0.5);
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 58, 134);
  border-radius: 20px;
}

/*/ //////////Header/////////// */
header {
  background-color: white;
  height: 10vh;
  text-align: left;
  border-bottom: rgb(102, 102, 102) solid 1px;
  position: fixed;
  width: 100vw;
  z-index: 99;
  top: 0;
}

header img {
  height: 9.8vh;
  vertical-align: middle;
}

.nav-but {
  display: none;
}

/*//////// Menu ///////*/
#menu {
  background-color: rgb(0, 95, 220);
  width: 100vw;
  height: 30px;
  margin-top: 10vh;
  top: 10vh;
  position: sticky;
  display: block;
  z-index: 100;
}

#menu ul {
  line-height: 30px;
}

#menu ul li {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
  border-left: rgba(0, 0, 0, 0.5) solid 1px;
  margin: 0 auto;
}

#menu ul li:hover {
  background-color: rgb(0, 71, 163);
}

#menu ul li:first-child {
  border-left: none;
}

#menu ul li:last-child {
  border-right: rgba(0, 0, 0, 0.5) solid 1px;
}
#menu ul li a {
  text-decoration: none;
  color: white;
}

#hero {
  background: radial-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background-color: rgb(0, 98, 220);
  width: 100vw;
  text-align: center;
  height: 30vh;
  position: relative;
  display: grid;
  place-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  color: white;
}

.hero-bottom {
  height: 15vw;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 95, 220));
  background-color: rgb(0, 58, 150);
  margin-top: -5vw;
  clip-path: polygon(0 0, 100% calc(0 - 5vw), 100% 100%, 0 100%);
  border-bottom: rgb(0, 30, 100) solid 1px;
}

#container {
  border-left: black solid 1px;
  border-right: black solid 1px;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

.month {
  background-color: white;
  border-top: rgb(100, 100, 100) solid 1px;
  border-bottom: rgb(100, 100, 100) solid 1px;
  display: inline-block;
  width: 100%;
}

.month h2 {
  padding: 3vh;
  width: 100%;
  font-size: 2rem;
  background-color: rgb(235, 235, 235);
}

.calendar-days {
  display: grid;
  grid-template-columns: 14.286% 14.286% 14.286% 14.286% 14.286% 14.286% 14.286%;
}

.day {
  background: blue;
  border: white solid 1px;
  width: 100%;
  text-align: center;
  height: 20vh;
  background-color: rgb(0, 52, 87);
}

.week-day {
  border: white solid 1px;
  font-size: 2vh;
  border-radius: 12px;
  width: 100%;
  text-align: center;
  background-color: rgb(0, 95, 220);
  color: white;
}

.p-header-calendar {
  color: white;
  background-color: black;
  font-size: 3vh;
  text-align: center;
}

.description {
  color: #fff;
  font-size: 1rem;
}

/*////// Footer //////*/

#footer {
  clear: both;
  background-color: black;
  position: relative;
}

/*////// Footer-Title //////*/
.footer-title {
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: rgb(20, 20, 20) solid 0.2vh;
}

/*////// Colum 1 //////*/

.first-colum {
  background-color: black;
  width: 49vw;
  text-align: left;
  float: left;
}

.first-colum ul li {
  list-style-type: none;
  padding: 30px;
}

.first-colum ul li a {
  text-decoration: none;
  color: #f0f0f0f0;
}

/* Second colum */

.second-colum {
  background-color: black;
  width: 49vw;
  text-align: left;
  float: right;
}

.second-colum ul li {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.second-colum ul li a {
  text-decoration: none;
  color: #f0f0f0f0;
}

/* End */

.end {
  background-color: black;
  text-align: center;
  border-top: rgb(20, 20, 20) solid 0.2vh;
  clear: both;
}

.end p {
  color: #f0f0f0f0;
  padding: 20px;
}

@media only screen and (min-width: 1000px) {
  .day {
    height: 20vh;
  }
}

@media only screen and (max-width: 663px) {
  .nav-but {
    top: 0.1vh;
    right: 0.1vh;
    height: 9.8vh;
    width: 9.8vh;
    position: fixed;
    z-index: 100;
    display: block;
  }

  button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  button img {
    position: relative;
    height: 100%;
    width: 100%;
  }

  button:hover {
    border: black solid 1px;
  }

  #menu {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0, 0.5)),
      url("./Imgs/books.jpeg");
    background-repeat: no-repeat;
    background-attachment: relative;
    position: fixed;
    right: -100vh;
    margin-top: 0;
    transition: right 0.3s ease-out;
  }

  #menu ul {
    text-align: center;
    display: block;
  }

  #menu ul li {
    border: black solid 1px;
    background-color: rgb(0, 95, 220);
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    margin-top: 50px;
    float: none;
  }

  #container {
    width: 99vw;
    border: 0;
    margin: 0 auto;
  }

  .day {
    height: 10vh;
  }
  .description {
    font-size: 2vh;
  }
}
