body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*////////////// Scrollbar //////*/

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 50, 130, 1);
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}

/*///////////Header/////////// */
header {
  background-color: white;
  height: 10vh;
  text-align: left;
  border-bottom: rgb(102, 102, 102) solid 1px;
  position: fixed;
  width: 100vw;
  z-index: 99;
  top: 0px;
}

header img {
  height: 9.8vh;
  vertical-align: middle;
}

.nav-but {
  display: none;
}

/*///////// Navegación ///////////*/

#menu {
  background-color: rgb(0, 95, 220);
  width: 100vw;
  height: 30px;
  top: 10vh;
  position: sticky;
  display: block;
  z-index: 10;
}

#menu ul {
  line-height: 30px;
}

#menu ul li {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
  border-left: rgba(0, 0, 0, 0.5) solid 1px;
  margin: 0 auto;
}

#menu ul li:hover {
  background-color: rgb(0, 71, 163);
}

#menu ul li:first-child {
  border-left: none;
}

#menu ul li:last-child {
  border-right: rgba(0, 0, 0, 0.5) solid 1px;
}
#menu ul li a {
  text-decoration: none;
  color: white;
}

#hero {
  width: 100vw;
  height: 80vh;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("./Imgs/Hero.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.hero-text {
  width: 75vw;
  border: rgb(0, 144, 180) solid 1px;
  color: white;
  text-align: center;
  position: relative;
  margin: 1vh auto;
  border-radius: 0 15px 0 15px;
  z-index: 1;
  clear: both;
  top: 20vh;
  padding: 5vh;
  font-size: 2rem;
}

.bienvenido-text {
  background: linear-gradient(
    to left,
    rgba(0, 50, 120, 1),
    rgba(0, 50, 130, 1)
  );
  color: white;
  text-align: center;
  position: relative;
  float: center;
  top: 10vh;
  margin-left: 13vw;
  z-index: 1;
  padding: 1vw;
  width: 100vw;
  margin: 0 auto;
}

#container {
  margin-left: 12.5vw;
  margin-right: 12.5vw;
}

.nov-sep-top {
  height: 5vh;
  width: 100%;
  background-color: white;
}

.novedades {
  background-color: white;
  border-top: rgb(100, 100, 100) solid 1px;
  border-bottom: rgb(100, 100, 100) solid 1px;
  display: inline-block;
  width: 100%;
}

.novedades h2 {
  padding: 3vh;
  width: 100%;
  font-size: 2rem;
  background-color: rgb(235, 235, 235);
}

#novedades {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgb(255, 255, 255);
  position: relative;
}

/* Contenido */
.contenido {
  background-color: rgb(0, 52, 87);
  border-radius: 12px;
  color: white;
  padding: 3vh;
  border: rgb(0, 0, 0) solid 1px;
  width: 100%;
  margin: 0 auto;
  border: white solid 2px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  cursor: pointer;
  display: none;
}

.contenido h4 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.contenido p {
  color: rgb(212, 212, 212);
}

/* novedades */

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.column {
  float: left;
  width: 100%;
  padding: 50px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 12px;
  border: white solid 1px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 52, 87);
}

.column:hover {
  background-color: rgb(0, 72, 87);
}

.containerTab {
  padding: 20px;
  color: white;
  background-color: rgb(0, 72, 87);
  border-radius: 0 0 12px 12px;
  display: none;
}

.containerTab span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  font-size: 35px;
  cursor: pointer;
}

/*/////// Caja contenido 1 ///////////*/

.nov-text {
  max-height: 0;
  transition: all 5s ease-out;
  display: none;
}

#nov1Textcollapse {
  display: none;
  width: 100%;
}

/*/////// Caja contenido 2 ///////////*/

#nov2Textcollapse {
  display: none;
}

/*/////// Caja contenido 3 ///////////*/

#nov3Textcollapse {
  display: none;
}

#nov4Textcollapse {
  display: none;
}

/*////////// Calendario ///////////*/

.calendar-box {
  background-color: white;
  height: auto;
  width: 95%;
  margin: auto auto;
}

.calendar-days-box {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.calendar-box h2 {
  margin-left: 1vh;
  padding: 3vh;
}

.calendar-day {
  background-color: rgb(0, 52, 87);
  border: white solid 2px;
  z-index: 9;
  width: 100%;
  height: 20vw;
  text-align: center;
  border-radius: 12px;
}

.day {
  background-color: rgb(0, 23, 65);
  border-radius: 12px 12px 0px 0px;
  color: white;
  border-bottom: rgb(0, 23, 65) solid 1px;
  height: 25%;
  display: table;
  width: 100%;
  border-bottom: black solid 4px;
}

.day h3 {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3rem;
}

/* To do */

.to-do-day {
  height: 50%;
  border-radius: 0px 0px 12px 12px;
  display: table;
  width: 100%;
}

.to-do-day p {
  color: white;
  display: table-cell;
  vertical-align: middle;
}

/*////// Footer //////*/

#footer {
  clear: both;
  background-color: black;
  margin-top: 5vh;
}

/*////// Footer-Title //////*/
.footer-title {
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: rgb(20, 20, 20) solid 0.2vh;
}

/*////// Colum 1 //////*/

.first-colum {
  background-color: black;
  width: 49vw;
  text-align: left;
  float: left;
}

.first-colum ul li {
  list-style-type: none;
  padding: 30px;
}

.first-colum ul li a {
  text-decoration: none;
  color: #f0f0f0f0;
}

/* Second colum */

.second-colum {
  background-color: black;
  width: 49vw;
  text-align: left;
  float: right;
}

.second-colum ul li {
  list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.second-colum ul li a {
  text-decoration: none;
  color: #f0f0f0f0;
}

/* End */

.end {
  background-color: black;
  text-align: center;
  border-top: rgb(20, 20, 20) solid 0.2vh;
  clear: both;
}

.end p {
  color: #f0f0f0f0;
  padding: 20px;
}
/*//////// Hero /////////*/

@media only screen and (max-width: 1300px) {
  #novedades {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .contenido {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  #novedades {
    display: grid;
    grid-template-columns: 100%;
  }
  .contenido {
    width: 100%;
    display: block;
  }

  .nov-text {
    display: block;
  }

  #big-novedades {
    display: none;
  }
}

@media only screen and (max-width: 663px) {
  /*/////////// Botón de navegación/////////// */
  .nav-but {
    top: 0.1vh;
    right: 0.1vh;
    height: 9.8vh;
    width: 9.8vh;
    position: fixed;
    z-index: 100;
    display: block;
  }

  button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  button img {
    position: relative;
    height: 100%;
    width: 100%;
  }

  button:hover {
    border: black solid 1px;
  }

  /*/////////// hero/////////// */

  #hero {
    background-attachment: relative;
    display: block;
  }

  .hero-text {
    margin: 0 auto;
    border-radius: 0 15px 15px 15px;
    display: block;
    padding: 10vw;
    font-size: 1rem;
  }

  .bienvenido-text h2 {
    padding: 10px;
  }

  .hero-text h1 {
    padding: 20px;
  }

  /* ///////////Novedades/////////////// */

  #container {
    width: 99vw;
    border: 0;
    margin: 0 auto;
  }
  .nov-sep-bottom {
    height: 5vh;
    width: 100vw;
    background-color: rgb(250, 250, 250);
  }

  .novedades h2 {
    width: 98vw;
  }

  /*/////// Caja contenido 1 ///////////*/

  .contenido {
    width: 95%;
    border-bottom: rgb(90, 90, 90) solid 1px;
    margin-bottom: 1vh;
    display: block;
    cursor: default;
  }

  .contenido:first-child {
    margin-top: 2vh;
  }

  .contenido:last-child {
    margin-bottom: none;
  }

  /*////////// Calendario ///////////*/
  .calendar-box {
    height: 115vw;
    width: 100%;
  }

  .calendar-days-box {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

  .calendar-day {
    width: 33vw;
    height: 33vw;
  }

  /*/////////// Menu emergente/////////// */

  #menu {
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0, 0.5)),
      url("./Imgs/books.jpeg");
    background-repeat: no-repeat;
    background-attachment: relative;
    position: fixed;
    right: -100vh;
    top: 10vh;
    transition: right 0.3s ease-out;
  }

  #menu ul {
    text-align: center;
    display: block;
  }

  #menu ul li {
    border: black solid 1px;
    background-color: rgb(0, 95, 220);
    margin-left: 20vw;
    margin-right: 20vw;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    margin-top: 50px;
    float: none;
  }
}
